---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Stroustrup
Cpp11BracedListStyle: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
PointerAlignment: Left
SortIncludes: 'false'
SpaceAfterCStyleCast: 'true'
SpaceBeforeCpp11BracedList: 'false'
SpacesBeforeTrailingComments: '1'
TabWidth: '4'
UseTab: ForIndentation

...
