[Desktop Entry]
Type=Application
Name=PDF Slicer
Icon=exampleapp
StartupNotify=true
Exec=/home/julian/Programacion/qtcreator-projects/build-poppler-Desktop-Debug/src/pdfslicer %U
Categories=GNOME;GTK;Utility
